/*****
Algemeen
*****/

body{
    background-color: #F5EBE1;
    outline: none;
}

*{
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
    margin: 0; 
}

*, *::after, *::before {
	user-select: none;
	-webkit-user-drag: none;
	-webkit-app-region: no-drag;
}

a {
    text-decoration: none;
    color: black;
    transition: all 50ms ease-out;
}

.underline {
    text-decoration: underline;
}

::placeholder {
    color: black;
}

/* Melding systeem */
#confirm {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 40%; height: 30%;
    background-color: #FBC490;
    border-radius: 50px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);

    display: flex;
    justify-content: center;
    align-items: center;
}

#meldingClick {
    font-size: 20px;
    color: #000;
    height: 50px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    cursor: pointer;
}

/* Knoppen */
.return {
    width: 12.5vh; height: 5vh;
    margin-top: 50px;
    float: left;
    cursor: pointer;
    transition: all 200ms ease-out;
}

.submit {
    width: 12.5vh; height: 5vh;
    margin-top: 50px;
    float: right;
    cursor: pointer;
    transition: all 200ms ease-out;
}

.inlogBtn {
    height: 7vh; width: 20vh;
    border-radius: 20px; border: none;
    font-size: 2vh;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    cursor: pointer;
    transition: all 150ms ease-out;
}

/*****
Animations 
*****/

.btnStyle:hover {
    transition: all 200ms ease-in;
    scale: 1.03;
}

a.navSpan:hover {
    transition: all 50ms ease-in;
    font-weight: bolder;
    font-size: 2.9vh;
}

#tekstlog:hover {
    text-decoration: underline;
    transition: all 100ms ease-in;
}

.back:hover {
    transition: all 150ms ease-in;
    scale: 1.20;
}

/* .add:hover {
    transition: all 150ms ease-in;
} */

.return:hover {
    transition: all 200ms ease-in;
    scale: 1.1;
    font-size: 1.5vh;
}

.submit:hover {
    transition: all 200ms ease-in;
    scale: 1.1;
    font-size: 1.5vh;
}

.delBtn:hover {
    transition: all 200ms ease-in;
    scale: 1.1;
    font-size: 1.5vh;
}

.delete:hover {
    transition: all 200ms ease-in;
    scale: 1.1;
    font-size: 1.5vh;
    background-color: rgb(233, 41, 41);
    color: #fff;
    border: 1px solid #9E8D7D;
    border-radius: 2.5px;
}

.editInputBtn:hover {
    transition: all 200ms ease-in;
    scale: 1.1;
    font-size: 1.5vh;
}

.inlogBtn:hover {
    transition: all 150ms ease-in;
    scale: 1.1;
}

/*****
Background
*****/

.background {
    background-color: #F5EBE1;
    background-image: url("/img/ladyjustice.png");
    background-repeat: no-repeat;
    background-size: 70%; /* 70%*/
    background-position: center;
    background-position-y: 0vh;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -2;
}

.backgroundMain {
    opacity: 1;
}

.backgroundLight {
    opacity: 0.5;
}

/*****
Header
*****/

/*
Logo
*/

.logo {
    width: 27.5vh;
    height: 10vh;
    position: fixed;

    background-image: url("/img/logo-nobg-notext.png");
    background-size: cover;
    background-repeat: no-repeat;
    filter: drop-shadow(1px 2px 2px #222);
}

.logobig {
    width: 37.5vh;
    height: 12.5vh;
    position: absolute;
    top: 30%; left: 50%;
    transform: translate(-50%, -50%);

    background-image: url("/img/logo-nobg-notext.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.logocontain {
    position: absolute;
    top: 40%; left: 50%;
    transform: translate(-50%, -50%);
    width: 30%; height: 40%;
    background-color: #FBC490;
    border-radius: 150px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

#logocontaintekst {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%; top: 60%;
    width: 100%;
    text-align: center;
    line-height: 35px;
}

.logoFooter {
    width: 27.5vh;
    height: 10vh;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
    filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));

    background-image: url("/img/logo-nobg.png");
    background-size: cover;
    background-repeat: no-repeat;   
}

/* User */
.user {
    background-color: #fff;
    border-radius: 10px; border: 2px solid #222;
    width: 20vh; height: 3.5vh;
    top: 10px; right: 120px;
    position: fixed; 
    text-align: center;
    display: grid;
}

.header {
    position: fixed;
    right: 20px;
    top: 10px;
    cursor: pointer;
    text-align: right;
}

#tekstlog {
    font-size: 16px;
    text-shadow: 0px 9px 35px black;
    letter-spacing: 1px;  
    transition: all 100ms ease-out;
}

/*****
Main Content
*****/

/*
Motto
*/

.motto {
    font-size: 6vh;    font-style: italic;
    letter-spacing: 2.5px;      line-height: 1.8;
    opacity: 70%;    text-shadow: 0px 9px 45px rgb(86, 86, 86);

    position: fixed;
    left: 35vh;    top: 30vh;
}

/*
Navigation Menu
*/

.currentPage {
    font-size: 4vh;    font-style: italic;
    letter-spacing: 2.5px;      line-height: 1.8;
    opacity: 80%;    text-shadow: 0px 9px 45px rgb(86, 86, 86);

    position: fixed;
    top: 25%; left: 87.5%;
    transform: translate(-50%, -50%);
}

.NavMenu {
    line-height: 2;    
    font-size: 3vh;
    position: fixed;
    top: 45%; left: 87.5%;
    transform: translate(-50%, -50%);

    letter-spacing: 1.5px;
    opacity: 90%;    text-shadow: 0px 9px 45px rgb(86, 86, 86);
    cursor: pointer;
}


/*
Foto's
*/

.img1 {
    position: fixed;
    background-image: url("/img/img1.jpg");
    background-repeat: no-repeat;
    background-size: 55vh;
    width: 100%; height: 100%;
    left: 42.5%; top: 10%;
    z-index: -1;
    filter: drop-shadow(1px 5px 5px #222);
}

.img2 {
    position: fixed;
    background-image: url("/img/img2.png");
    background-repeat: no-repeat;
    background-size: 55vh;
    width: 100%; height: 100%;
    left: 42.5%; top: 55%;
    z-index: -1;
    filter: drop-shadow(1px 5px 5px #222);
}

.img3 {
    position: fixed;
    background-image: url("/img/img3.png");
    background-repeat: no-repeat;
    background-size: 55vh;
    width: 100%; height: 100%;
    left: 42.5%; top: 10%;
    z-index: -1;
    filter: drop-shadow(1px 5px 5px #222);
}

.img4 {
    position: fixed;
    background-image: url("/img/img4.png");
    background-repeat: no-repeat;
    background-size: 55vh;
    width: 100%; height: 100%;
    left: 42.5%; top: 52.5%;
    z-index: -1;
    filter: drop-shadow(1px 5px 5px #222);
}

.img5 {
    position: fixed;
    background-image: url("/img/img5.jpg");
    background-repeat: no-repeat;
    background-size: 55vh;
    width: 100%; height: 100%;
    left: 40%; top: 20%;
    z-index: -1;
    filter: drop-shadow(1px 5px 5px #222);

}

/*
Content Teksten
*/

.cc-content {
    position: fixed;
    top: 15vh; left: 15vh;
    font-size: 2.5vh;    line-height: 2;    
    letter-spacing: 0.8px;
    opacity: 90%;    text-shadow: 0px 9px 45px rgb(86, 86, 86);
    /* max-width: 27.5%; */
    width: 25%;
}

.n-content-1 {
    position: fixed;
    top: 12.5vh; left: 15vh;
    font-size: 2.25vh;    line-height: 2;    
    letter-spacing: 0.8px;
    opacity: 90%;    text-shadow: 0px 9px 45px rgb(86, 86, 86);
    max-width: 50vh;
}

.n-content-2 {
    position: fixed;
    top: 55vh; left: 15vh;
    font-size: 2.25vh;    line-height: 2;    
    letter-spacing: 0.8px;
    opacity: 90%;    text-shadow: 0px 9px 45px rgb(86, 86, 86);
    max-width: 50vh;
}

.c-content-1 {
    position: fixed;
    top: 17.5vh; left: 15vh;
    font-size: 2.25vh;    line-height: 2;    
    letter-spacing: 0.8px;
    opacity: 90%;    text-shadow: 0px 9px 45px rgb(86, 86, 86);
}

.c-content-2 {
    position: fixed;
    top: 47.5vh; left: 15vh;
    font-size: 2.25vh;    line-height: 2;    
    letter-spacing: 0.8px;
    opacity: 90%;    text-shadow: 0px 9px 45px rgb(86, 86, 86);
}


/*
Afspraak
*/

.afspraak {
    background-color: #FBC490;
    height: 12.5vh; width: 35vh;
    display: flex;
    align-items: center; justify-content: center;
    
    cursor: pointer;
    border-radius: 25px;
    border: solid 1px #000;
    font-size: 2vh;

    position: absolute;
    top: 70%; left: 53.5%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(1px 5px 5px #222);
}

.afspraakContain {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 30%; height: 70%;
    background: rgb(251,196,144);
    background: radial-gradient(circle, rgba(251,196,144,1) 0%, rgba(251,170,96,1) 100%);    
    border-radius: 50px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);

    display: flex;
    justify-content: center;
}

.form {
    height: 5vh; width: 30vh;
}

.form1 {
    margin-top: 7.5vh;
}

.form2, .form3, .form4 {
    margin-top: 2.5vh;
}

.form5 {
    margin-top: 7.5vh;
    margin-left: -5vh;
    height: 5vh;
    width: 15vh;
    display: flex;
    justify-content: center;
}

#meldingClick {
    font-size: 20px;
    color: #000;
    height: 50px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    cursor: pointer;
}

/*****
Inloggen
*****/

.container {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 50%; height: 60%;
    background: rgb(251,196,144);
    background: radial-gradient(circle, rgba(251,196,144,1) 0%, rgba(251,170,96,1) 100%);    
    border-radius: 150px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    place-content: center;
    align-items: center;
    display: flex;
}

.eye {
    position: absolute;
    top: 38%; left: 67.5%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}


#gn-login {
    height: 8vh; width: 50vh;
    border-radius: 50px; border: none;
    text-align: center;
    font-size: 2vh;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    cursor: text;

    position: absolute;
    top: 20%; left: 50%;
    transform: translate(-50%, -50%);
}

#ww-login {
    height: 8vh; width: 50vh;
    border-radius: 50px; border: none;
    text-align: center;
    font-size: 2vh;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    cursor: text;

    position: absolute;
    top: 40%; left: 50%;
    transform: translate(-50%, -50%);
}

.g-recaptcha {
    position: absolute;
    top: 62.5%; left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;    
}

#terug {
    bottom: 5vh; left: 15vh;
    position: fixed;
}

#vergeten {
    position: fixed;
    bottom: 5vh; 
}

#inloggen {    
    bottom: 5vh; right: 15vh;
    position: fixed;
}


/* 
Wachtwoord vergeten 
*/
#terugvergeten {
    height: 7vh; width: 20vh;
    border-radius: 20px; border: none;
    font-size: 2vh;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    cursor: pointer;

    bottom: 7.5vh; left: 22.5vh;
    position: fixed;
}

#versturen {
    height: 7vh; width: 20vh;
    border-radius: 20px; border: none;
    font-size: 2vh;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    cursor: pointer;
    
    bottom: 7.5vh; right: 22.5vh;
    position: fixed;
}

#gn-vergeten {
    height: 8vh; width: 50vh;
    border-radius: 50px; border: none;
    text-align: center;
    font-size: 2vh;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    cursor: text;

    position: absolute;
    top: 30%; left: 50%;
    transform: translate(-50%, -50%);
}

/* Wachtwoord resetten */
.resetContain {
    width: 30%;
    height: 50%;
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    background: rgb(251,196,144);
    background: radial-gradient(circle, rgba(251,196,144,1) 0%, rgba(251,170,96,1) 100%);
    border-radius: 50px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

.resetTitle {
    font-style: italic; font-size: 24px;
    color: #000;
    position: absolute;
    
    left: 50%; top: 10%;
    transform: translate(-50%, -50%);
}

.submitReset {
    width: 12.5vh; height: 3.5vh;
    margin-top: 50px;
    cursor: pointer;
}


/*****
Database
*****/

/*
Database - Sidebar/Menu
*/

.back {
    position: fixed;
    top: 10%; left: 5%;
    cursor: pointer;
    filter: drop-shadow(1px 2px 2px #222);
    transition: all 150ms ease-out;
}

.menuContain {
    width: 30%;
    height: 60%;
    position: fixed;
    align-items: center;
    display: flex;
    flex-direction: column;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    background: rgb(251,196,144);
    background: radial-gradient(circle, rgba(251,196,144,1) 0%, rgba(251,170,96,1) 100%);
    /* border: solid 1.5px #000; */
    border-radius: 40px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

.btnStyle {
    height: 7.5vh;
    width: 35vh;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    transition: all 200ms ease-out;
}

.btn1, .btn2, .btn4, .btn5, .btn6, .btn7{
    margin-top: 10%;
}

.menuTitle {
    /* font-style: italic;  */
    font-size: 24px;
    color: #000;
    position: absolute;
    top: 5%;
}

/* 
Melding 
*/
#melding {
    display: none;
}


/*
Database - Main
*/

.dataContain {
    width: 75%; height: 82.5%;;
    background-color: white;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3px;
    border: 2px solid #000;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

.dataCenter {
    display: flex;
    justify-content: center;
}

td {
    border: 1px solid #000;
    text-align: center;
    width: 20vh;
    font-size: 15px;
}

.table {
    max-height: 500px;
}

.tableBezoek {
    max-height: 150px;
}

.tableBewijs {
    max-height: 200px;
}

/*
Database - Add
*/
.add {
    position: fixed;
    top: 85%;    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 15;

    filter: drop-shadow(1px 2px 2px #222);
    transition: all 150ms ease-out;
}

.dataContainAdd {
    width: 70%; height: 82.5%;;
    background-color: white;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3px;
    border: 2px solid #000;

    display: flex;
    justify-content: center;
    align-items: center;
}

.formAdd {
    cursor: pointer;
}

/*
Database - Edit
*/

.editContain {
    height: 70%; width: 30%;
    position: fixed; display: flex; 
    justify-content: center;
    align-items: center;
    text-align: end;
    top: 50%;    left: 50%;
    transform: translate(-50%, -50%);

    line-height: 7.5vh;
    background: rgb(251,196,144);
    background: radial-gradient(circle, rgba(251,196,144,1) 0%, rgba(251,170,96,1) 100%);
    border-radius: 15%;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

.editInput {
    height: 5vh; width: 25vh;
}

.editInput::placeholder {
    opacity: 0.5;
}

.editInputBtn {
    margin-top: 20px;
    height: 5vh;
    width: 15vh;
    cursor: pointer;
    transition: all 200ms ease-out;
}

.e1 {
    float: left;    
}

.e2 {
    float: right;
}

/*
Database - Delete
*/

.delContain {
    height: 60%; width: 30%;
    position: fixed; display: flex; 
    justify-content: center;
    text-align: center; align-items: center;

    top: 50%;    left: 50%;
    transform: translate(-50%, -50%);

    line-height: 10vh;
    background: rgb(251,196,144);
    background: radial-gradient(circle, rgba(251,196,144,1) 0%, rgba(251,170,96,1) 100%);    
    border-radius: 15%;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

.delBtn {
    height: 5vh;
    width: 20vh;
    cursor: pointer;
    margin-inline: 3vh;
    display: inline;
    transition: all 200ms ease-out;
}

.delete {
    transition: all 200ms ease-out;
}


/* 
Bewijsmateriaal
*/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto; padding: 20px;
    border: 1px solid #888;
    width: 50%; max-width: 500px;
}

.larger {
    height: 50%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.formClick {
    cursor: pointer;
}

#btnOpenModal {
    height: 5vh;    width: 15vh;

    font-size: 1.75vh;
    bottom: 20px;
    position: absolute;
    cursor: pointer;
}

.formInput {
    width: 80%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
  
  .formSelect {
    width: 80%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
  
  .formButton {
    padding: 10px 20px;
    font-size: 14px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
  .formButton:hover {
    background-color: #45a049;
}

/* 
Cellen - Overzicht
*/
.pagination {
    margin-top: 20px;
    position: absolute;
    right: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

.pagination a {
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    color: #000;
    border: 1px solid #ddd;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

/* 
Review
*/

.reviewContain {
    height: 30%; width: 30%;
    position: fixed; display: flex; 
    justify-content: center;
    align-items: center;
    text-align: end;
    top: 50%;    left: 50%;
    transform: translate(-50%, -50%);

    line-height: 7.5vh;
    background: rgb(251,196,144);
    background: radial-gradient(circle, rgba(251,196,144,1) 0%, rgba(251,170,96,1) 100%);
    border-radius: 15%;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

/***** 
Beheersmodule
*****/

/* 
Beheersmodule - Main 
*/

.beheerContain {
    width: 30%;
    height: 60%;
    position: fixed;
    align-items: center;
    display: flex;
    flex-direction: column;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    background: rgb(251,196,144);
    background: radial-gradient(circle, rgba(251,196,144,1) 0%, rgba(251,170,96,1) 100%);    
    border-radius: 40px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}


/*
Beheersmodule - Perm
*/
.permContain{
    width: 50%; height: 80%;
    background-color: white;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3px;
    border: 2px solid #000;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    display: flex; justify-content: center;
}

/**
Footer
**/

/*
Beheersmodule - Warning
*/
.warning{
    position: absolute;
    width: 100%; height: 50px;
    bottom: 0;

    background: rgb(253,29,29);
    background: linear-gradient(90deg, rgba(253,29,29,1) 0%, rgba(252,176,69,1) 100%);
    border-radius: 15px 15px 0 0;
}


/*
Code
*/

.code {
    background-color: #FBC490;
    height: 30px; width: 30px;
    border-radius: 50%;
    position: absolute; display: flex;
    place-content: center; place-items: center;
    bottom: 1vh; left: 1vh;
    cursor: pointer;
    opacity: 80%;
}
