@media only screen and (max-width: 600px)  {
    body {
        overflow: scroll;
    }
    
    /* Homepage */
    .background {
        background-size: cover;
        opacity: 0.3;
    }

    .motto {
        top: 70%; left: 50%;
        transform: translate(-50%, -50%);
    }


    /***** 
    Bezoekers
    *****/

    /* 
    NavMenu 
    */
    .currentPage {
        position: absolute;
        top: 20%; left: 50%;
        transform: translate(-50%, -50%);
        font-style: normal;
        font-weight: bold;    
        font-size: 5vh;   
        opacity: 1; 
    }

    .NavMenu {
        position: absolute;
        left: 50%; top: 40%;
        font-size: 5.5vw;
        opacity: 1;
    }

    /* 
    Cellencomplexplage
    */
    .img3 {
        position: absolute;
        top: 80%; left: 50%;
        transform: translate(-50%, -50%);    
        background-size: cover;
        width: 80%; height: 40%;
    }
    
    .cc-content {
        position: absolute;
        top: 135%; left: 50%;
        transform: translate(-50%, -50%);
        width: 75%;
        font-size: 4vw;
        text-align: center;
    }

    .img4 {
        display: none;
    }

    /* 
    Newspage 
    */
    .img1 {
        position: absolute;
        top: 80%; left: 50%;
        transform: translate(-50%, -50%);
        background-size: cover;
        width: 80%; height: 40%;
    }

    .n-content-1 {
        position: absolute;
        top: 130%; left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .img2 {
        position: absolute;
        top: 180%; left: 50%;
        transform: translate(-50%, -50%);
        background-size: cover;
        width: 80%; height: 40%;
    }

    .n-content-2 {
        position: absolute;
        top: 225%; left: 50%;
        transform: translate(-50%, -50%);
    }

    /* 
    Contactpage 
    */
    .img5 {
        position: absolute;
        top: 105%; left: 50%;
        transform: translate(-50%, -50%);
        background-size: cover;
        width: 60%; height: 40%;
    }
    
    .c-content-1 {
        position: absolute;
        top: 70%; left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;    
        font-weight: bold;
        font-size: 3.5vw;
        width: 50%;
    }

    .c-content-2 {
        position: absolute;
        top: 170%; left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;    
        font-size: 2.4vh;
    }

    .afspraak {
        top: 135%; left: 50%;
        transform: translate(-50%, -50%);
    }

    /***** 
    Personeel
    *****/

    .back {
        left: 2.5%;
    }

    .add {
        top: 85%;    
    }

    .pagination {
        bottom: 10px;
        border: solid 1px #000;
    }
    
    .pagination a {
        border: solid 1px #000;
    }

    /*** 
    Login 
    ***/
    .container {
        border-radius: 25px;
        width: 90%; height: 85%;
        top: 52.5%;
    }

    .eye {
        top: 34%;
    }

    .g-recaptcha {
        top: 55%;
    }

    #gn-login {
        width: 35vh;
        top: 15%;
    }

    #ww-login {
        width: 35vh;
        top: 35%;
    }

    #terug {
        left: 5vh;
        width: 15vh; height: 6vh;
        border-radius: 15px;
    }

    #vergeten {
        width: 30vh;
        border-radius: 15px;
        bottom: 20vh;
    }

    #inloggen {
        right: 5vh; 
        width: 15vh; height: 6vh;
        border-radius: 15px;
    }

    /***
    Wachtwoord vergeten 
    ***/
    .resetContain {
        position: absolute;
        left: 50%; top: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
    }

    .resetTitle {
        font-size: 18px;
    }

    /*** 
    Database 
    ***/
    .menuContain {
        position: absolute;
        left: 50%; top: 50%;
        transform: translate(-50%, -50%);
        width: 300px;
    }

    .btnStyle {
        height: 7.5vh;
        width: 27.5vh;
        font-size: 15px;
    }

    .btn1, .btn2, .btn4, .btn5, .btn6, .btn7{
        margin-top: 15%;
    }

    td {
        font-size: 3vw;
    }

    th {
        font-size: 3vw;
    }
   
    #optional{
        display: none;
    }


    .editContain {
        position: absolute;
        left: 50%; top: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
    }
    /*** 
    Beheersmodule 
    ***/
    .beheerContain {
        left: 50%; top: 50%;
        transform: translate(-50%, -50%);
        width: 300px;
    }
    
    .permContain {
        left: 50%; top: 50%;
        transform: translate(-50%, -50%);
        width: 300px;
    }

    .center {
        top: 20%;
    }

    .center .recht {
        display: flex;
        position: absolute;
        flex-wrap: wrap;
        gap: 20px;
        margin-bottom: 20px;
        flex-direction: column-reverse;
    }

    /***** 
    Footer 
    ******/

    .logoFooter-home {
        display: flex;
        top: 90%;
    }

    .logoFooter-cc {
        display: flex;
        top: 175%;
    }

    .logoFooter-news {
        display: flex;
        top: 255%;
    }

    .logoFooter-contact {
        display: flex;
        top: 200%;
    }

}